<form action="submit">
    <label for="eid">
        <input type="text" required id="eid" name="eid">
    </label>
    <label for="passwd">
        <input type="password" required id="passwd" name="password">
    </label>

    <!-- add when applicable -->
    <!-- <a href="/forgotPassword">Forgot Password</a> -->
    
    <button type="submit">
        Login
    </button>
</form>