<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./style/styles.css">
    <title>Exam Portal | <%= title %> </title>
</head>
<body>
    <%- include('../partials/globals/header.ejs') %> 
    <%- body %> 
</body>
</html>