<header>
    <a href="/" class="logo">
        <h1>
            EXAM PORTAL
        </h1>
    </a>
    <nav class="navbar">
        <ul class="navbar-links">
            <li class="nav-links">
                <a href="/home">Home</a>
            </li>
            <li class="nav-links">
                <a href="/about">About</a> 
            </li>
            <li class="nav-links">
                <a href="/login">Login</a> 
            </li>
        </ul>
    </nav>
</header>