<div class="loginCardContainer">
        <img class="illustration" src="<%= data.illustrationLink %> " alt="">

    <h2 class="user-type">
        <%= data.userType %> 
    </h2>
    <a href="<%= data.link %> " class="btn loginLink">Go to login</a>
</div>