<form>
    <h2 class="heading">
        Login
    </h2>
    <div class="formElement" id="nameElement">
        <input type="text" id="id" name="id" autocomplete="off" required>
        <label for="id" class="label-name">
            <span class="content-name">
                Id
            </span>
        </label>
    </div>
    <div class="formElement" id="nameElement">
        <input type="password" id="passwd" name="passwd" autocomplete="off" required>
        <label for="passwd" class="label-name">
            <span class="content-name">
                Password
            </span>
        </label>
    </div>
    <button class="btn submit-button" type="submit">Submit
    </button>
</form>