<form action="submit">
    <label for="eid">
        Name
    </label>
    <input type="text" required id="eid" name="eid">
    <label for="passwd">
        Password
    </label>
    <input type="password" required id="passwd" name="password">

    <!-- add when applicable -->
    <!-- <a href="/forgotPassword">Forgot Password</a> -->
    
    <button class="btn" type="submit">
        Login
    </button>
</form>